@import './variablesAndMixins';

.innerTopBar {
    height: fit-content;
    background-color: $neutralColor3;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding: 5% 10%;

    img {
        width: 10rem;
    }
    p{
        text-align: center;
        line-height: 1.8rem;
        height: 1.8rem;
        border: 0.09rem solid white;
        border-radius: 1.5rem;
        font-size: 1rem;
        padding: 0 25%;
        a{
            white-space: nowrap;
            text-decoration: none;
            color: white;
        }
    }
}

#video {
    position: fixed;
    width: auto;
    height: 100vh; //ver 100vh -var(innerTop)
}


//Breath Guide

.master {
    padding: 50% 0;

    &:hover{
        cursor: pointer;
    }
}

.container {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    transform: scale(1);
    font-size: 1.3rem;
    text-align: center;
    color: #499429;
}

.circle {
    background-color: whitesmoke;
    opacity: 0.8;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
}

.pointer-container { 
    position: absolute;
    top:-30px;
    left: 65px;
    width: 20px;
    height: 105px;
}

.pointer-animation {
    animation: rotateit 8s linear forwards infinite;
    transform-origin: bottom center;
}

.pointer  {
    background-color: ghostwhite;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.grow{
    animation: grow 3s linear forwards;
}

.shrink{
    animation: shrink 3s linear forwards;
}


@keyframes rotateit  {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}


@keyframes grow  {
    from {
        transform: scale(1)
    }
    to {
        transform: scale(1.2)
    }
}


@keyframes shrink  {
    from {
        transform: scale(1.2)
    }
    to {
        transform: scale(1)
    }
}