@import './variablesAndMixins';

@media all and (min-width: $tablet_width_breakpoint){
    .topBar{
        padding: 5% 10%;
        img{
            width: 65%;
        }
        .line1{
            font-size: 1.5rem;
        }
        .line2{
            font-size: 1.5rem;
        }
    }
    
    .mainContent {
        padding: 4% 20%;
        font-size: 1.5rem;
    }

    .mainGrid{
        row-gap: 3%;
        column-gap: 4%;
        padding: 0 10% 5% 10%;
        justify-content: space-around;   
    }

    .contentBox {
        p{
            font-size: 1rem;
            border-radius: 1.3rem;
        }
    }
}