//BreakPoints

$mobile_height_breakpoint: 670px;
$tablet_width_breakpoint: 768px;
$desktopSmall_width_breakpoint: 992px;
$desktopBig_width_breakpoint: 1200px;


//Colors and Fonts

//new navbar color #5b45ff to change


$primaryColor1:  #545F77;
$primaryColor2:  #5b45ff;
$primaryColor3:  #6363B7;
$primaryColor4: #8EDAEF;// old blue used in the logo bar

$neutralColor1: #3366CC;
$neutralColor2: #A59F9A;
$neutralColor3: #c9af93;

$font1: 'Nunito', sans-serif;

//Mixins

@mixin contentBox {
    position: relative;
    display: inline-block;
    img{
        border-radius: 0.4rem;
        width: 100%;
    }
    p{
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 40%;
        transition: transform .5s;
    }
    p:hover{
        transform: scale(1.2, 1.2);
    }
}

@mixin btn() {
    text-align: center;
    border: 0.09rem solid white;
    border-radius: 1rem;
    color: white;
    width: 80%;
    padding: 3%;
}



