@import './variablesAndMixins';
@import './innerPage';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: $font1;
    width: 100%;
    overflow-x: hidden;
}

#homeBody {
    background-image: url(../src/bgEffect.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

#homeBody, 
#innerPageBody{
    height: 100vh;
}

#innerPageBody {
    display: none;
}

.topBar{
    background-color: $primaryColor2;
    --height: fit-content;
    padding: 5% 10% 10% 10%;

    h4{
        color: white;
        display: block;
        margin: auto;
    }
    img{
        width: 280px;
        padding: 8% 0;
    }
    .line2{
        float: right;   
    }
}

.mainContent {
    color: $primaryColor3;
    font-weight: 400;
    font-size: 1.3rem;
    padding: 7% 10%;
    text-align: center;
}

.mainGrid{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 0 10%;
    justify-content: space-around;   
}

.contentBox1,
.contentBox2,
.contentBox3,
.contentBox4 {
    @include contentBox;
}

.attribution {
    position: absolute;
    padding: 2px;
    bottom: 0;
    font-size: 0.7rem;
    transform: translate(18%, 0);
    a{
        text-decoration: none;
    }
    a:link{
        color: blue;
    }
    a:hover{
        text-decoration: underline;
    }
}