.innerTopBar {
  --height: fit-content;
  background-color: #c9af93;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5% 10% 2% 10%;
  opacity: 0.8;
}

.innerTopBar img {
  width: 9.5rem;
}

.innerTopBar p {
  text-align: center;
  line-height: 1.8rem;
  height: 1.8rem;
  border: 0.09rem solid white;
  border-radius: 1.5rem;
  font-size: 0.7rem;
  padding: 0 7%;
}

.innerTopBar p a {
  white-space: nowrap;
  text-decoration: none;
  color: white;
}

#video {
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -99;
}

#breathGuideContainer {
  padding: 50% 0;
  z-index: 15;
}

#breathGuideContainer:hover {
  cursor: pointer;
}

.container {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  width: 150px;
  -webkit-transform: scale(1);
          transform: scale(1);
  font-size: 1.3rem;
  text-align: center;
  color: #499429;
}

.circle {
  background-color: whitesmoke;
  opacity: 0.8;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
}

.pointer-container {
  position: absolute;
  top: -30px;
  left: 65px;
  width: 20px;
  height: 105px;
}

.pointer-animation {
  -webkit-animation: rotateit 8s linear forwards infinite;
          animation: rotateit 8s linear forwards infinite;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}

.pointer {
  background-color: ghostwhite;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.grow {
  -webkit-animation: grow 3s linear forwards;
          animation: grow 3s linear forwards;
}

.shrink {
  -webkit-animation: shrink 3s linear forwards;
          animation: shrink 3s linear forwards;
}

@-webkit-keyframes rotateit {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateit {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes grow {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes grow {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@-webkit-keyframes shrink {
  from {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes shrink {
  from {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  width: 100%;
  overflow-x: hidden;
}

#homeBody {
  background-image: url(../src/bgEffect.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

#homeBody,
#innerPageBody {
  height: 100vh;
}

#innerPageBody {
  display: none;
}

.topBar {
  background-color: #8EDAEF;
  --height: fit-content;
  padding: 8% 10%;
}

.topBar h4 {
  color: white;
  display: block;
  margin: auto;
}

.topBar img {
  display: block;
  margin: 0 auto;
  width: 75%;
  padding: 5% 0;
}

.topBar .line1 {
  display: block;
}

.topBar .line2 {
  display: block;
  float: right;
  margin-top: -5%;
}

.mainContent {
  color: #6363B7;
  font-weight: 400;
  font-size: 1.3rem;
  padding: 10% 10%;
  text-align: center;
}

.mainGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  gap: 10px;
  padding: 0 10%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contentBox {
  position: relative;
  display: inline-block;
}

.contentBox img {
  border-radius: 0.4rem;
  width: 100%;
}

.contentBox p {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 40%;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.contentBox p:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.contentBox p {
  text-align: center;
  border: 0.09rem solid white;
  border-radius: 1rem;
  color: white;
  width: 80%;
  padding: 3%;
  font-size: 0.7rem;
}

.attribution {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 0.7rem;
}

.attribution a {
  text-decoration: none;
}

.attribution a:link {
  color: blue;
}

.attribution a:hover {
  text-decoration: underline;
}

@media all and (min-width: 768px) {
  .topBar img {
    width: 65%;
  }
  .topBar .line1 {
    font-size: 1.5rem;
  }
  .topBar .line2 {
    font-size: 1.5rem;
  }
  .mainContent {
    padding: 2% 10%;
    font-size: 1.6rem;
    line-height: 2;
  }
  .mainGrid {
    row-gap: 3%;
    -webkit-column-gap: 4%;
            column-gap: 4%;
    padding: 0 10% 5% 10%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .contentBox1 p,
  .contentBox2 p,
  .contentBox3 p,
  .contentBox4 p {
    font-size: 1rem;
    border-radius: 1.3rem;
  }
}
/*# sourceMappingURL=styles.css.map */