@import './variablesAndMixins';
@import './innerPage';

// All Media Queries import are in the bottom of the page. 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: $font1;
    width: 100%;
    overflow-x: hidden;
}

#homeBody {
    background-image: url(../src/bgEffect.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

#homeBody, 
#innerPageBody{
    height: 100vh;
}

#innerPageBody {
    display: none;
}

.topBar{
    background-color: $primaryColor2;
    --height: fit-content;
    padding: 8% 10%;

    h4{
        color: white;
        display: block;
        margin: auto;
    }
    img{
        display: block;
        margin: 0 auto;
        width: 75%;
        padding: 5% 0;
    }
    .line1{
        display: block;  
    }
    .line2{
        display: block;
        float: right; 
        margin-top: -5%;  
    }
}

.mainContent {
    color: $primaryColor3;
    font-weight: 400;
    font-size: 1.1rem;
    padding: 10% 10%;
    text-align: center;
}

.mainGrid{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 0 10%;
    justify-content: space-around;   
}

.contentBox {
    @include contentBox;
    p {
        @include btn();
        font-size: 0.7rem;
    }
}

.attribution {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 0.7rem;
    
    a{
        text-decoration: none;
    }
    a:link{
        color: blue;
    }
    a:hover{
        text-decoration: underline;
    }
}

@import './tabletMediaQuery';
